/* Typography */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #333333;
}

h1, h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    color: #DC143C;
}

/* Layout */

/* Media */